*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Economica', sans-serif;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {  
  border-color: #df263b;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(223, 38, 59, 0.6);
  outline: 0 none;
}

/*index.html*/
.left-side{
	height: 100vh;
	background-color: #95efe5;
	color: #CD2945;
}

.welcome-content{
	margin-top: 20%;
	margin-left: 15%;
}

.jumbotron{
	background-color: #95efe5;
}

.welcome-content .jumbotron p{
	color: #231F20;
	
}
.right-side{
	width: 100%;
	height: 100vh;
	background-color: #95efe5;
	text-align: center;
}

.landing-image{
	margin-top: 10%;
	height: 90%;
}

.landing-image-mobile{
	display: none;
}

/*home.html*/

.home-footer{
	background-color: #95efe5;
}
.logo-menu{
	width: 40px;
}

.logo-menu-text{
	width: 100px;
}

.navbar{
	width: 100%;
	background-color: #FBF7F6; /*off white*/
}

.home-content{
	width: 100%;
	height: 92vh;
	background-color: #95EFE5; /*cerulean*/
}

.carousel-item{
	height: 400px;
}

.car-content{
	text-align: center;
	margin-top: 40%;
}

.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 10px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: #FBF7F6;	/*gray*/
   /* box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5); */   
}
.carousel-indicators .active {
    width: 10px;
    height: 10px;
    margin: 10px;
    background-color: #D22647;	/*deep red*/
}

.carousel-indicators{
	bottom: -100px;
}

.home-text{
	margin-top: 30%;
}

.home-text h1{
	font-size: 100px;
	font-family: 'Advent Pro', sans-serif;
	color: #D22647;
}

.home-text h2{
	font-size: 50px;
	font-family: 'Advent Pro', sans-serif;
}

.home-text p{
	text-align: justify;

}

.nav-item{
	font-family: 'Advent Pro', sans-serif;
	font-size: 20px;
	
}

.socials{
	width: 30px;
	margin: 12px;
}

.nav-item a{
	color: #241E20;
}
.nav-item:hover{
	border-bottom: 3px solid #D22647;
	color: white;
}

.nav-item a:hover{
	color: #D22647;
}

.active{
	font-weight: bold;
	border-bottom: 3px solid #D22647;
}
/*end of home.html*/

/*contact-us.html*/
.header-section{
	width: 100%;
	background-color: #95EFE5;
}

.contact-image{
	width: 70%;
	/*height: 50vh;*/
	padding: 10px;
	float: right;	
}

.form-and-maps{
	margin-top:20px;
	margin-bottom: 20px;
}

label{ 
	color: #D22647;
	font-weight: bold;
}

.header-contact-text h1{
	color: #D22647;
}

.header-contact-text{
	margin-top: 10%;
}

.btn-danger{
	background-color: #D22647;
}

footer{
	width: 100%;
	background-color: #676465;
	text-align: justify;
	/*text-align-last: left;*/
	color: #e1e1e1;
}
a{
	color: #fbf7f5;
}
ul{
	list-style: none;
}
a:hover{
	color:#df263b;
}
.last-footer{
	width: 100%;
	border-top: 2px solid #e1e1e1;
	background-color: #95efe5;
}

.LA-logo{
	width: 30px;
}

.la-section, .copyright-section{
	padding-top: 5px;

}

.copyright-section h6{
	font-weight: bold;
}

.socials-footer{
	float: right;
	width: 20px;
	margin: 10px;
}

.socials-header{
	float: right;
	font-size: 20px;
}

li {
	text-decoration: none;
	color: white;
}
.la-section a{
	color: #646765;
}
.footer-col{
	padding: 10px;
}

.footer-col-1{
	border-left: 2px solid #fbf7f5;
	padding-left: 10px;
}

.copyright-section{
	color: #646765;

}
/*end of contact-us.html*/

/*start of about-us.html*/
.about-us{
	width: 100%;
	background-color: #fbf7f5;
	text-align: justify;
	padding: 10px;
}

.mission-vision{
	width: 100%;
	background-color: #fbf7f5;
	text-align: justify;
	padding-top: 20px;
}

.mission-vision h1{
	text-align: center;
	color: #df263b;
}
/*end of about-us.html*/

/*start of gallery*/
.images{
	height: 250px;
	padding: 10px;
}

.card{
	border-color: #95efe5;
	margin-bottom: 10px;
	background-color:#fbf7f5;
	color: #676465;
}

.gallery-header-text{
	color:#676465;
}

.card:hover{
	border-color: #676465;
	background-color: #95efe5;
	color: #df263b;
}

/*end of gallery*/

/*start of what-we-do.html*/
.what-we-do-main{
	width: 100%;
	padding: 3%;
}

.what-we-do-main:hover{
	transform: scale(1.05);
}

/*end of what-we-do.html*/

/*start of what-we-do-inner.html*/
.what-we-do-header{
	border: 2px solid #676465;
	padding: 1%;
	margin-top: 1%;
	margin-bottom: 1%;
	height: 90vh;
}

.what-we-do-header a{

	color: #676465;
}

.what-we-do-header a:hover{
	color: #df263b;
}

.what-we-do-photog h1{
	/* Safari */
	-webkit-transform: rotate(-90deg);

	/* Firefox */
	-moz-transform: rotate(-90deg);

	/* IE */
	-ms-transform: rotate(-90deg);

	/* Opera */
	-o-transform: rotate(-90deg);

	/* Internet Explorer */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

	color: #df263b;
	font-size: 150px;
	margin-top: 220%;
	margin-bottom: 10%;

}

.what-we-do-videog h1{
	/* Safari */
	-webkit-transform: rotate(-90deg);

	/* Firefox */
	-moz-transform: rotate(-90deg);

	/* IE */
	-ms-transform: rotate(-90deg);

	/* Opera */
	-o-transform: rotate(-90deg);

	/* Internet Explorer */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

	color: #95efe5;
	font-size: 150px;
	margin-top: 200%;
	margin-bottom: 15%;
}

.what-we-do-trad h1{
	/* Safari */
	-webkit-transform: rotate(-90deg);

	/* Firefox */
	-moz-transform: rotate(-90deg);

	/* IE */
	-ms-transform: rotate(-90deg);

	/* Opera */
	-o-transform: rotate(-90deg);

	/* Internet Explorer */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

	color: #D6B467;
	font-size: 120px;
	margin-top: 210%;
	margin-bottom: 30%;
}

.what-we-do-digital h1{
	/* Safari */
	-webkit-transform: rotate(-90deg);

	/* Firefox */
	-moz-transform: rotate(-90deg);

	/* IE */
	-ms-transform: rotate(-90deg);

	/* Opera */
	-o-transform: rotate(-90deg);

	/* Internet Explorer */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

	color: #CBE667;
	font-size: 120px;
	margin-top: 100%;
	margin-bottom: 30%;
	
}

/*end of what-we-do-inner.html*/

/*start of events.html*/
.header-section-events{
	width: 100%;
	background-color: #95EFE5;
	text-align: center;
}

.events-header-image{
	margin: 0 auto;
	margin-top: -10%;
	margin-bottom: 2%;
	width: 820px;
}

.events-img{
	width: 300px;
	float: right;
	margin: 1%;
}

.events-img-1{
	width: 300px;
	float: left;
	margin: 1%;
}

.red{
	color:#df263b;
}





/*end of events.html*/



/* Mobile Styles */
@media only screen and (max-width: 400px) {
/*start of index.html*/
	.landing-image-mobile{
	  	display: block;
	  	width: 100%;
	  	margin-top: 20%;
	}

	.landing-image{
  		display: none;
	}

	.welcome-content{
		margin-top: 5%;
		margin-left: 1%;
	}
/*end of index.html*/

/*start of footer*/
	.footer-col h4{
		font-size: 12px;
	}

	.footer-col p,a{
		font-size: 8px;
	}

	.copyright-section h5{
		font-size: 8px;
	}

	.LA-logo{
		width: 10px;
		margin: 5px;
	}

	.btn{
		font-size: 10px;
		padding: 3px;
	}

	.form-control{
		width: 100%;
		height: 20px;
		font-size: 8px;
		padding: 0px;
	}
	.socials-footer{
		width: 10px;
		margin-top: 12px;
		margin-left: 5px;
	}
/*end of footer*/
/*start of home.html*/
	.home-text{
		margin-top: 1%;
	}
	.home-content{
		width: 100%;
		height: 50%;
		background-color: #95EFE5; /*cerulean*/
	}

	.carousel-item{
		height: 200px;
	}
	.carousel-indicators{
		bottom: 0px;
	}

	.home-text, .home-footer{
		text-align: center;
	}

	.home-text h1{
		font-size: 40px;
	}

	.home-text h2{
		font-size: 30px;
	}
/*end of home.html*/
}

	

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
	
/* start offooter*/
	.footer-col h4{
		font-size: 18px;
	}

	.footer-col p,a{
		font-size: 12px;
	}

	.copyright-section h5{
		font-size: 14px;
	}
/*end of footer*/

/*start of home.html*/
	.home-text{
		margin-top: 1%;
	}
	.home-content{
		width: 100%;
		height: 50%;
		background-color: #95EFE5; /*cerulean*/
	}

	.carousel-item{
		height: 500px;
	}
	.carousel-indicators{
		bottom: 0px;
	}

	.home-text, .home-footer{
		text-align: center;
	}
	.home-text p{
		text-align-last: center
	}
/*end of home.html*/

/*start of what-we-do inner*/
.what-we-do-digital h1{
	/* Safari */
	-webkit-transform: rotate(90deg);

	/* Firefox */
	-moz-transform: rotate(90deg);

	/* IE */
	-ms-transform: rotate(90deg);

	/* Opera */
	-o-transform: rotate(90deg);
}

/*end of what-we-do inner*/
}


/* Desktop Styles */
@media only screen and (min-width: 961px) {
  
  
}






